<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LoginPage</display-name>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>soaPackage.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminSignUpServlet</servlet-name>
    <servlet-class>soaPackage.AdminSignUpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FranchiseLoginServlet</servlet-name>
    <servlet-class>franchise.FranchiseLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FranchiseSignUpServlet</servlet-name>
    <servlet-class>franchise.FranchiseSignUpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAuctionStartServlet</servlet-name>
    <servlet-class>auction.AdminAuctionStartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FranchiseAuctionStartServlet</servlet-name>
    <servlet-class>auction.FranchiseAuctionStartServlet</servlet-class>
  </servlet>
  <welcome-file-list>
    <welcome-file>LoginPage.jsp</welcome-file>
    <welcome-file>AdminSignUp.jsp</welcome-file>
    <welcome-file>FranchiseSignUp.jsp</welcome-file>
    <welcome-file>FranchiseLogged.jsp</welcome-file>
  </welcome-file-list>
</web-app>